@import "../../../partials/breakpoints/breakpoinst_teamsdetails/breakpoints";
@import "../../../partials/mixins/mixins";

.equipments {
    @include flexboxCenter($flex, $center);
    width: 100%;
    flex-wrap: wrap;
    margin-top: 12px;
}
.equipments_info {
    @include flexboxCenter(flex, $center);
    width: 400px;
    flex-direction: column;
    border: 2px solid;
    border-radius: $borderCajon;
    padding: 12px;
    gap: 10px;
    img {
        width: 150px;
    }
}
a {
    color: red;
    width: 80px;
    height: 30px;
    background-color: black;
    text-decoration: none;
    border-radius: $borderBottom;
    @include flexboxCenter($flex, $center);
    &hover {
        @include hoverButtonDetails;
    }
}

.latestmatches {
    @include flexboxCenter($flex,  $center);
    flex-direction: column;
    gap: 30px;
}

.latestmatches_matches_info {
    width: 550px;
    @include flexboxCenter($flex,  $center);
    flex-direction: column;
}

.latestmatches_matches_info_images {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
        width: 180px;
    }
}

@include media-md;
