<h1>Equipments</h1>
<div class="equipments">
    <div class="equipments_list"*ngFor="let equipo of listequipments">
        <div class="equipments_info">
            <p>Season: {{equipo.strSeason}}</p>
            <img [src]="equipo.strEquipment" [alt]="">
        </div>
    </div>
</div>

<h1>Latest Macthes of this team</h1>
<div class="latestmatches">
    <div class="latestmatches_matches" *ngFor="let macth of latestMatches">
        <div class="latestmatches_matches_info">
            <p>{{macth.strFilename}}</p>
            <div class="latestmatches_matches_info_images">
                <img [src]="macth.strHomeTeamBadge" alt="">
                <h2>{{macth.intHomeScore}} - {{macth.intAwayScore}}</h2>
                <img [src]="macth.strAwayTeamBadge" alt="">
            </div>
        </div>
    </div>
</div>
<a routerLink="/teams">Back</a>