<h1 class="title_equipments">Equipments</h1>
<div class="equipments">
    <div class="equipments_list" *ngFor="let equipo of listequipments">
        <div class="equipments_info">
            <p>Season: {{equipo.strSeason}}</p>
            <img [src]="equipo.strEquipment" [alt]="">
        </div>
    </div>
</div>

<h1 class="latestMatches_tittle">Latest Macthes of this team</h1>
<div class="latestmatches">
    <div class="latestmatches_matches" *ngFor="let macth of latestMatches">
        <div class="latestmatches_matches_info">
            <p class="latestmatches_matches_info_name">{{macth.strFilename}}</p>
            <div class="latestmatches_matches_info_images">
                <img [src]="macth.strHomeTeamBadge" alt="">
                <img [src]="macth.strAwayTeamBadge" alt="">
            </div>
            <p class="latestmatches_matches_info_score">{{macth.intHomeScore}} - {{macth.intAwayScore}}</p>
        </div>
    </div>
</div>
<div class="button_back">
    <a routerLink="/teams" class="return_teams ">Back</a>
</div>