@import "../../variables/variables";

@mixin media-sm {
    @media (max-width: 480px) {
        img {
            display: none;
        }
        .dashboard_firts_title_text {
            text-align: center;
        }
        .dashboard_leagues {
            text-align: center;
        }
    }
}

@mixin media-md {
    @media (max-width: 640px) {
        .dashboard_video {
            display: none;
        }
        .dashboard_first {
            width: 233px;
            img {
                width: 100px;
            }
            gap: 30px;
        }
        .dashboard_firts_title_text {
            font-size: 20px;
        }
    }
}

@mixin media-lg {
    @media (max-width: 720px) {
        .dashboard_video {
            width: 233px;
        }
    }
}
