@mixin media-smlr {
    @media (min-width: 200px) {
        .teams {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
            margin-top: 30px;
        }
        .teams_founds_lists {
            border: 1px double gray;
            border-radius: 7px;
            width: 230px;
            display: flex;
            height: 70px;
            flex-direction: row-reverse;
            padding: 8px;
            align-items: center;
            justify-content: center;
            gap: 30px;
            a{
                text-decoration: none;
                h1 {
                    font-weight: bold;
                    font-size: 12px;
                    display: contents;
                }
            }
            img {
                width: 50px;
                height: 100%;
                display: none;
            }
        }
        .selected_teams{
            p{
                display: none;
            }
        }
        .selected_teams_select{
            select{
                text-align: center;
                background-color: #263238;
                padding: 7px;
                color: white;
                font-weight: bold;
                width: 180px;
                border-radius: 18px;
                cursor: pointer;
            }
        }
    }
}
@mixin media-sm {
    @media (min-width: 480px) {
        .teams_founds_lists {
            display: flex;
            gap: 30px;
            justify-content: center;
            align-items: center;
            a{
                text-decoration: none;
                h1{
                    font-size: 13px;
                }
            }
            img{
                display: flex;
            }
        }
        .selected_teams{
            p{
                display: flex;
            }
        }
        .selected_teams_select{
            select{
                text-align: center;
                background-color: #263238;
                padding: 7px;
                color: white;
                font-weight: bold;
                width: 300px;
                border-radius: 18px;
            }
        }
    }
}