<h1 style="text-align: center;">All Teams</h1>

<div class="selected_teams">
    <p>Select the country teams</p>
    <div class="selected_teams_select">
        <select name="selectedCountry" id="selectedCountry" (change)="onCountrySelect($event)">
            <option value="" disabled selected>Select a country</option>
            <option *ngFor="let country of Lcountries" [value]="country.name_en">{{country.name_en}}</option>
        </select>
    </div>
</div>

<div class="teams">
    <div class="teams_founds" *ngFor="let team of Lteams">
        <div class="teams_founds_lists">
            <a [routerLink]="['/teamdetail']"  [queryParams]="{id: team.idTeam}"><h1 class="teams_founds_lists_name">{{team.strTeam}}</h1></a>
            <img [src]="team.strTeamBadge" [alt]="team.strAlternate">
        </div>
    </div>
</div>