@import "../../../partials/mixins/mixins", "../../../partials/variables/variables",
    "../../../partials/breakpoints/breakspoinst_teams/breakpoints";

.teams {
    @include flexbox;
    align-items: center;
    text-align: center;
}
.selected_teams{
    width: 100%;
    margin-top: 20px;
    gap: 30px;
    @include flexboxCenter($flex, $center);
    p{
        font-size: 18px;
    }
}

@include media-smlr;
@include media-sm;