@import "../../../partials/mixins/mixins", "../../../partials/variables/variables",
    "../../../partials/breakpoints/breakpoinst_dashboard/breakpoinst", "../../../partials/variables/colors";

.dashboard {
    @include flexbox;
    flex-direction: column;
    justify-content: flex-start;
}
.dashboard_first {
    @include flexbox;
    width: 100%;
    img {
        width: 233px;
        height: 100%;
    }
}
.dashboard_video {
    @include flexboxCenter();
    margin-top: 20px;
    margin-bottom: 20px;
}
.dashboard_leagues {
    @include flexbox;
    flex-wrap: wrap;
    gap: 20px;
}
.dashboard_leagues_information {
    @include flexbox;
    flex-direction: column;
    height: 100px;
}
h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-style: italic;
    font-weight: bold;
    color: $colorH2;
    i {
        font-style: inherit;
        font-weight: inherit;
    }
}
body {
    padding: 12px;
}

.dashboard_firts_title_text{
    font-size: $tamañoTitle;
    font-weight: bold;
}
.dashboard_firts_title_text, .dashboard_introduccion_text{
    color: aquamarine;
}
.dashboard_tittle_leagues{
    color:  #000;
}
.dashboard_leagues_information_name {
    color: $colorH4;
    font-weight: bold;
}
.dashboard_leagues_information_name, .dashboard_leagues_information_sport{
    margin-bottom: 0;
}
.dashboard_leagues_information_sport, .dashboard_leagues_information_alternativeLeague{
    color: #f4dada;
}
.dashboard_leagues_information_alternativeLeague{
    font-size: 12px;
    font-weight: bold;
}

@include media-sm;
@include media-md;
@include media-lg;