<div class="jugadores">
    <div class="jugadores_fund">
        <div class="jugadores_search">
            <input type="search" placeholder="Search Player" [(ngModel)]="valorInput" class="jugadores_search_input" />
            <button (click)="obtenerJugador()" class="jugadores_search_button">SEARCH</button>
        </div>
    </div>
    <div class="jugadores_info" *ngFor="let player of playersInfo">
        <div class="jugadores_info_personal">
            <h1 class="jugadores_info_personal_name">{{player.strPlayer}}</h1>
            <h4 class="jugadores_info_personal_height">Height: {{player.strHeight}}</h4>
            <h3 class="jugadores_info_personal_nacionality">{{player.strNacionality}}</h3>
        </div>
        <img [src]="player.strFanart1" [alt]="">
        <div class="jugadores_info_career">
            <h2 class="jugadores_info_position">{{player.strPosition}}</h2>
            <p class="jugadores_info_description">{{player.strDescriptionEN}}</p>
        </div>
    </div>
</div>